.cart {

  & &-header {
    & .item {
      text-transform: uppercase;
      color: @gray;
      letter-spacing: 1px;
      .font_size(13);
    }
  }

  & &-actions {
    padding-top: 10px;
  }

  & &-info {
    color: @gray;
    font-weight: 300;
    @media @min {
      text-align: center;
    }
    @media @tablet {
      text-align: right;
    }
    strong {
      color: @brown;
    }
  }

  & &-item {

    &__remove {
      border: 1px solid @lighterGray;
      padding: 4px 8px;
      border-radius: 2px;
      margin-top: 5px;
      margin-left: -3px;
      display: inline-block;
    }

    &__cell {
      color: @gray;
      line-height: 1.4;
      a {
        text-decoration: none;
        color: @brown;
      }
      &.qty {
        input {
          display: block;
          max-width: 100%;
          text-align: center;
        }
      }
    }

    &__title {
      
    }

  }

  & &-empty {
    color: @gray;
    font-weight: 300;
    @media @min {
      padding: @spacer*2 0;
    }
    @media @desktop {
      padding: @spacer*4 0;
    }
    span {
      .font_size(28);  
    }
    a {
      color: @brown;
    }
  }

}