.faq {

  & &-block {
    &__wrapper {
      padding: @spacer;
      height: 200px;
    }
    &--gigante {
      background-color: @white;
      box-shadow: 0 10px @spacer rgba(0,0,0,.02);
      & .faq {
        &-block {
          &__wrapper {
            height: 300px;
          }
        }
        &-a {
          display: block;
        }
      }
    }
    & .faq {
      &-a {
        display: none;
      }
    }
  }

  & &-item {
  
    transition: 500ms ease;

    &:last-child {
      hr {
        background-color: transparent;
      }
    }

    &:hover {
      cursor: pointer;
      border-color: @brown;
    }

    p {
      font-weight: normal;
      color: @gray;
    }

    strong {
      color: @brown;
      font-weight: 300;
      display: block;
      @media @min {
        font-weight: 300;
        font-size: 18px;
      }
      @media @tablet {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 10px;
      }
    }

  }

}