.home {

  & &-title {
    color: @brown;
    .serif();
    letter-spacing: -1px;
    @media @min {
      font-size: 3.5rem;
      line-height: 1.2;
      margin-bottom: @spacer*.5;
    }
    @media @tablet {
      font-size: 4.5rem;
      line-height: 1.2;
    }
    &.emphasized {
      font-size: 8rem;
      line-height: 1;
      margin-bottom: @spacer;
    }
  }

  & &-subtitle {
    color: @gray;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: @spacer*.5;
    &.emphasized {
      font-size: 2.5rem;
      line-height: 1.7;
      margin-bottom: @spacer;
    }
  }

  & &-list {
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 2.2;
    letter-spacing: .05rem;
    color: @gray;
  }

  & &-cta {
    margin-bottom: @spacer;
  }

  // Heros

  & &-hero {
    
    background-color: @bgGray;
    position: relative;
    min-height: 600px;

    @media @min {
      height: 800px;
    }
    @media @desktop {
      height: 80vh;
    }
    @media @max {
      height: 80vh;
    }

    &-centered {
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 50;
      transform: translateY(-50%);
    }

    .home {
      &-subtitle, &-list {
        color: rgba(0,0,0,.4);
      }
    }

  }

  & &-section {
    border-bottom: 1px solid @lighterGray;
    @media @min {
      padding: 50px 0;
    }
    @media @desktop {
      padding: 75px 0;
    }
    @media @max {
      padding: 100px 0;
    }
    &--testimonials {
      overflow: hidden;
    }
    &--problem {
      position: relative;
      z-index: 2;
      border-bottom: 0;
    }
    &--sol {
      padding-bottom: 0;
    }
    &--insta {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    &--cta {
      padding: 225px 0;
    }
    &--hiw {
      padding-bottom: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    &__content {
      position: relative;
      z-index: 30;
    }
  }

  & &-problem {

    color: @white;
    height: 100%;
    transform-style: preserve-3d;

    &:hover {
      box-shadow: 0 20px @spacer*2 rgba(0,0,0,.1);
    }

    @media @min {
      text-align: center;
    }

    @media @tablet {
      text-align: left;
    }

    &-content {
      position: relative;
      z-index: 30;
      transform: translateZ(20px);
      @media @min {
        padding: @spacer;
      }
      @media @desktop {
        padding: @spacer*2;
      }
    }

    &-title {
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;
      & span {
        display: block;
        @size: 30px;
        height: @size;
        line-height: @size;
        width: @size;
        border-radius: 50%;
        background-color: @white;
        color: @brown;
        text-align: center;
        font-weight: 700;
      }
      @media @min {
        margin-bottom: @spacer
      }
      @media @tablet {
        margin-bottom: @spacer*4;
      }
    }

    &-desc {

      color: @white50;

      @media @min {
        font-size: 1.45rem;
      }
      @media @tablet {
        font-size: 1.35rem;
      }
      @media @desktop {
        font-size: 1.65rem;
        line-height: 1.6;
      }
      
      > div {
        .serif();
        margin-bottom: @spacer;
        color: @white;
        font-size: 4rem;
        line-height: 1.1;
      }
    }

    &.one {
      background-color: @brown;
    }
    &.two {
      background-color: #A68963;
      top: @spacer;
    }
    &.three {
      background-color: lighten(#9D8A6C,20%);
      top: @spacer*2;
    }
    &-wrapper {
      position: relative;
      @media @tablet {
        transform: translateY(50%);
      }
    }

  }

}