.popup {

  .cover();
  z-index: 999;
  position: fixed;
  background-color: @black25;
  visibility: hidden;
  opacity: 0;
  transition: 500ms ease;
  -webkit-font-smoothing: antialiased;

  &.fs-swap-active {
    visibility: visible;
    opacity: 1;
  }

  & &-wrapper {
    width: 100%;
    height: 100%;

    @media @min {
      padding-top: @spacer*3;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }

    @media @tablet {
      height: auto;
      padding-top: 0;
      .center();
    }
  }

  & &-title {
    color: @brown;
    font-weight: 300;
  }

  & &-content {
    @media @min {
      padding: @spacer;  
    }
    @media @tablet {
      padding: @spacer*2;  
    }
    background-color: @white;
    box-shadow: 0 @spacer @spacer*2 rgba(0,0,0,.05);  
    position: relative;
  }

  & &-close {
    color: @brown;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: @spacer;
  }

}