.skin {

  & &-wrapper {

  }

  & &-carousel {
    &-slide {
      @media @min {
        height: 75vh;
        background-color: @bgGray;
        border-right: 1px solid @white;
        padding: @spacer;
      }
      @media @tablet {
        height: 60vh;
        padding: @spacer*2;
      }
      @media @desktop {
        height: 50vh;
        padding: @spacer*2;
      }
    }
  }

}