{% assign numsize = 'fs-lg-1' %}
{% assign copsize = 'fs-lg-11' %}

<div class="sol-item">
<div class="sol-num">1</div>
<div class="sol-desc">
<div>Real science. Real results. </div>
90% of skin aging is caused by the sun. Sonne is doctor formulated to prevent this process while reducing signs of past damage (like wrinkles and redness). No guesswork. No gimmicks. Just smart science, and great skin.    
</div>
</div>

<div class="sol-item">
<div class="sol-num">2</div>
<div class="sol-desc">
<div>Work smarter, not harder.</div>
You don’t need 300 skincare products. You need one that works. Sonne is simple. Kick back, relax, and make looking good look easy.
</div>
</div>

<div class="sol-item">
<div class="sol-num">3</div>
<div class="sol-desc">
<div>Simple Subscription</div>
Good products are only good if you get them. That’s why Sonne ships free to your door, every month.  
</div>
</div>