<div class="fs-cell fs-cell-contained fs-all-half fs-sm-full">
  <div class="home-problem one js-tilt">
    <div class="home-problem-title">Problem 1</div>
    <div class="home-problem-desc">
      <div>Skincare is very necessary.</div>
      The thing is, your skin is aging. You might not need, or consider a chemical peel. 
      But you probably don’t want wrinkles or skin cancer. And if your skin sees the sun 
      at all (even on cloudy days) you’re risking both. 
    </div>
  </div>
</div>
<div class="fs-cell fs-cell-contained fs-all-half fs-sm-full">
  <div class="home-problem-wrapper">
    <div class="home-problem two js-tilt">
      <div class="home-problem-title">Problem 2</div>
      <div class="home-problem-desc">
        <div>Skincare's pretty confusing.</div>
        The skincare industry is saturated with myths. Forget not knowing where to start, 
        it’s hard to know products even work. People spend big money on their best guess. 
        Or get overwhelmed and do nothing. Both are bad options.
      </div>
    </div>
  </div>
</div>
<div class="fs-cell fs-cell-contained fs-all-half fs-sm-full">
  <div class="home-problem three js-tilt">
    <div class="home-problem-title">Problem 3</div>
    <div class="home-problem-desc">
      <div>Skincare takes work.</div>
      The beauty store. The drug store. The overwhelming online shop. 
      The expensive dermatologist, again. The hunt for effective skincare shouldn’t be so complicated. 
      But it is. 
    </div>
  </div>
</div>