<div class="quotes-quote">
  <div class="quotes-quote__wrapper">
    <div class="fs-row">
      <div class="fs-cell fs-lg-9 fs-lg-last fs-md-4 fs-md-last fs-sm-3 fs-all-align-center fs-contained">
        <div class="quotes-quote__testimonial">
          <div class="quote">
            Loving the Sonne day cream! I can see and feel a difference with my skin! 
            I feel less guilty being in the sun everyday knowing that my skin is protected! Thanks Sonne!
          </div>
          <div class="name">Jonna Jenkins</div>
          <div class="location">Los Angeles, CA</div>
        </div>
      </div>
      <div class="fs-cell fs-lg-3 fs-md-2 fs-sm-hide fs-contained background" data-background-options='{"source":"https://i.imgur.com/oscqJY4.jpg"}'></div>
    </div>
  </div>
</div>