<div class="quotes-quote">
  <div class="fs-row">
    <div class="fs-cell fs-lg-8 fs-lg-last fs-all-align-center fs-contained">
      <div class="quotes-quote__testimonial">
        Loving the Sonne day cream! I can see and feel a difference with my skin! 
        I feel less guilty being in the sun everyday knowing that my skin is protected! Thanks Sonne!
      </div>
    </div>
    <div class="fs-cell fs-lg-4 fs-all-align-center fs-contained">
      <div class="quotes-quote__bio">
        <div class="avatar"></div>
        <div class="name">John Jenkins</div>
        <div class="location">Los Angeles, CA</div>
      </div>
    </div>
  </div>
</div>