<div id="signup" class="signup fs-grid-fluid">
  <div class="signup-container">
    <div class="fs-row fs-all-align-end">
      <div class="fs-cell fs-xl-4 fs-lg-6 fs-md-5 fs-sm-3 fs-all-justify-center">
        <div class="signup-wrapper">
          <div class="signup-close swap" data-swap-target="#signup" data-swap-linked=".signup-close"><i data-feather="x"></i></div>
          <div class="signup-header">Sonne Pronunciation Guide</div>
          <div class="signup-content">
            <p class="serif">Sounds like: Sun.</p>
            <p class="serif">Protects from: Sun.</p>
            <p class="serif">Here comes the: <span>_____</span>.</p>
            <p class="serif">Nice. You get it.</p>
            <p class="serif">Now get Sonne.</p>
          </div>
          <div class="signup-footer">
            $15 off your first delivery. <br>Just enter your e-mail below.
          </div>
          <div class="signup-form">
            {% include 'subscribe-form-2' %}
          </div>
        </div>
        <div class="signup-close-big swap" data-swap-linked=".signup-close" data-swap-target="#signup"></div>
      </div>
    </div>
  </div>
</div>