<div class="home">

  <div class="carousel" data-carousel-options='{"pagination":false}'>
    <div class="home-hero background" data-background-options='{"source":"{{ 'home2.jpg'  | asset_url }}"}'>
      <div class="home-hero-centered">
        <div class="fs-row">
          <div class="fs-cell fs-xl-5 fs-lg-half fs-md-3">
            <hr class="invisible huge">
            <div class="home-title emphasized">Future proof your skin.</div>
            <div class="home-subtitle emphasized">The doctor-developed skincare system delivered to your door.</div>
            <a class="button button-cta home-cta">Get Started</a>
            <ul class="home-list">
              <li>Combats the #1 cause of skin aging</li>
              <li>Visible results reported in 6-8 days</li>
              <li>Vegan, No Parabens, Cruelty Free</li>
              <li>Manufactured in the USA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="home-hero background" data-background-options='{"source":"{{ 'home2.jpg'  | asset_url }}"}'>
      <div class="home-hero-centered">
        <div class="fs-row">
          <div class="fs-cell fs-xl-5 fs-lg-half fs-md-3">
            <hr class="invisible huge">
            <div class="home-title">Future proof your skin.</div>
            <div class="home-subtitle">The doctor-developed skincare system delivered to your door.</div>
            <a class="button button-cta home-cta">Get Started</a>
            <ul class="home-list">
              <li>Combats the #1 cause of skin aging</li>
              <li>Visible results reported in 6-8 days</li>
              <li>Vegan, No Parabens, Cruelty Free</li>
              <li>Manufactured in the USA</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section">
    <div class="fs-row">
      <div class="fs-cell fs-all-full text-center">
        <div class="home-title">Hey, being human is hard.</div>
        <div class="home-subtitle">Especially when it comes caring for your skin.</div>
        <hr class="invisible">
      </div>
      <div class="fs-cell fs-cell-contained fs-all-half fs-sm-full">
        <div class="home-problem one js-tilt">
          <div class="home-problem-title">Problem 1</div>
          <div class="home-problem-desc">
            <div>Skincare is very necessary.</div>
            The thing is, your skin is aging. You might not need, or consider a chemical peel. 
            But you probably don’t want wrinkles or skin cancer. And if your skin sees the sun 
            at all (even on cloudy days) you’re risking both. 
          </div>
        </div>
      </div>
      <div class="fs-cell fs-cell-contained fs-all-half fs-sm-full">
        <div class="home-problem-wrapper">
          <div class="home-problem two js-tilt">
            <div class="home-problem-title">Problem 2</div>
            <div class="home-problem-desc">
              <div>Skincare's pretty confusing.</div>
              The skincare industry is saturated with myths. Forget not knowing where to start, 
              it’s hard to know products even work. People spend big money on their best guess. 
              Or get overwhelmed and do nothing. Both are bad options.
            </div>
          </div>
        </div>
      </div>
      <div class="fs-cell fs-cell-contained fs-all-half fs-sm-full">
        <div class="home-problem three js-tilt">
          <div class="home-problem-title">Problem 3</div>
          <div class="home-problem-desc">
            <div>Skincare takes work.</div>
            The beauty store. The drug store. The overwhelming online shop. 
            The expensive dermatologist, again. The hunt for effective skincare shouldn’t be so complicated. 
            But it is. 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section">
    <div class="fs-row">
      <div class="fs-cell fs-all-full text-center">
        <div class="home-title">Sonne is easy.</div>
        <hr class="invisible">
      </div>
    </div>
  </div>

  <div class="home-section">
    <div class="fs-row">
      <div class="fs-cell fs-all-full">
        
      </div>
    </div>
  </div>

</div>