<div class="home-section home-section--testimonials">
  <div class="fs-row">
    <div class="fs-cell fs-all-full">
      <div class="home-title text-center">What they’re saying about us</div>
      <hr class="invisible">
      <div class="quotes">
        <div class="quotes-wrapper carousel" data-carousel-options='{"controls":false,"autoAdvance":false,"single":false,"contained":false}'>
          {% for block in section.blocks %}
          <div class="quotes-quote">
            <div class="quotes-quote__wrapper">
              <div class="fs-row">
                <div class="fs-cell fs-lg-9 fs-lg-last fs-md-4 fs-md-last fs-sm-3 fs-all-align-center fs-contained">
                  <div class="quotes-quote__testimonial">
                    <div class="quote">
                      {{ block.settings.block_desc }}
                    </div>
                    <div class="name">{{ block.settings.block_name }}</div>
                    <div class="location">{{ block.settings.block_location }}</div>
                  </div>
                </div>
                <div class="fs-cell fs-lg-3 fs-md-2 fs-sm-hide fs-contained background" data-background-options='{"source":"{{ block.settings.block_img | img_url: '2048x2048' }}"}'></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Quote Block",
  "class": "index-section index-section--custom-content",
  "blocks": [
    {
      "type":"text",
      "name": "Text",
      "settings": [
        {
          "type":"text",
          "id":"block_name",
          "label":"Name"
        },
        {
          "type":"text",
          "id":"block_location",
          "label":"Location"
        },
        {
          "type": "textarea",
          "id": "block_desc",
          "label": "Quote"
        },
        {
         "type": "image_picker",
          "id": "block_img",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quotes Block",
      "category": "Layout"
    }
  ]
}
{% endschema %}
